.Introduction {

    .container {
        height: 40px;
        margin: 50px auto 0;
        @extend %clearfix;

        @include index-mb() {
            margin-bottom: 31px;
        }

        .midline>span:before,
        .midline>span:after {

            @include index-mb() {
                margin-bottom: 31px;
                display: none;
            }

        }

    }

    h2 {
        margin-top: 50px;
    }

    ul {
        @extend %clearfix;
        margin-top: 31px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;

        @include index-mb() {
            margin: 0 30px 20px 30px;
        }

    }

    li {
        display: inline-block;
        width: 30%;
        margin: 0 1.5%;

        @include index-mb() {
            width: 100%;
            margin-bottom: 30px;
        }

    }

    .imgCenter {
        @extend %clearfix;
        text-align: center;

        img {
            max-width: 100%;
            margin-bottom: 20px;
            border-radius: 50%;
        }

        h3 {
            font-size: $font-size-s;
            font-weight: bold;
        }

        margin-bottom: 11px;
    }

    p {
        letter-spacing: 1.2px;
        line-height: 1.35;
    }

    @extend %clearfix;
}





.today-chef {
    background: #3D1101;
    color: gray();

    @include index-mb() {
        width: 100%;
    }

    .chef-image {
        float: left;
        width: 45%;
        margin-left: 4.1%;

        @include tablet() {
            margin-left: 1.1%;
        }

        @include index-mb() {
            float: none;
            width: 100%;
            margin: 0;
        }

        img {
            display: block;
            max-width: 100%;
            height: 460px;

            @include index-mb() {
                float: none;
                margin: 0;
                width: 100%;
            }

        }

    }


    .chef-introduction {
        float: left;
        width: 40%;
        margin-left: 2.5%;
        margin-right: 7.7%;


        @include tablet() {
            width: 44%;
            margin-left: 4%;
            margin-right: 5%;
        }

        @include index-mb() {
            float: none;
            width: 100%;
            margin: 0;
            padding: 0 30px 30px 30px;
        }

        h2 {
            font-size: $font-size-m;
            margin-top: 81px;
            margin-bottom: 5px;

            @include tablet() {
                margin-top: 49px;
            }

            @include index-mb() {
                margin-top: 30px;
            }

        }

        h3 {
            margin-bottom: 16px;
        }

        p {
            line-height: 1.2;
            letter-spacing: 1.1px;

            @include tablet() {
                letter-spacing: 1px;
                line-height: 1.1;
            }

            @include index-mb() {
                line-height: 1.7;
            }

        }

    }

    @extend %clearfix;
}


.impression {
    margin: 50px auto;

    .impression-title {
        font-size: $font-size-l;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }


    .comment {

        line-height: 1.5;

        .comment-title {
            float: left;
            position: relative;
            width: 100%;

            img {
                float: left;
                border-radius: 50%;
                margin-right: 13px;
            }

            h3 {
                float: left;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 80px;
            }
        }

        .comment-content {
            float: left;

            margin-left: 80px;

            p {
                float: left;
                margin-bottom: 13px;
            }

            h3 {
                float: right;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        li {
            display: inline-block;
            margin: 0 1%;
            width: 30%;

            @include index-mb() {
                width: 100%;
                margin: 0 10px 30px 10px;
            }

        }

        @extend %clearfix;

    }

    @extend %clearfix;
}

.map {
    background: gray(3%);

    .map-title {
        float: left;
        font-size: $font-size-l;
        text-align: center;
        width: 100%;
        margin: 50px 0 38px 0;

        @include index-mb() {
            margin-top: 43px;
            margin-bottom: 30px;
        }

        h2 {
            text-align: center;
        }
    }

    .map-main {
        float: left;
        margin-bottom: 50px;
    }

    .map-img {
        float: left;
        width: 45%;
        margin-left: 4.1%;
        margin-right: 2%;

        @include tablet() {
            margin-left: 1.5%;
            margin-right: 2.7%;
        }

        @include index-mb() {
            width: 96%;
            margin-left: 2%;
            margin-right: 2%;
            margin-bottom: 30px;
        }

        img {
            display: block;
            max-width: 100%;
            height: 386px;

            @include index-mb() {
                width: 100%;
            }

        }
    }

    .form {
        float: left;
        width: 44.5%;
        margin-right: 4.4%;

        @include tablet() {
            width: 48.1%;
            margin-right: 2.7%;
        }

        @include index-mb() {
            width: 96%;
            margin-left: 2%;
            margin-right: 2%;
        }

        .lb {
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }

        .textfield {
            float: left;
            width: 100%;
            margin-bottom: 12px;
            padding: 5px;

            &:focus {
                @include focus;
            }
        }

        .toggle-radio {
            float: left;
            width: 100%;
            margin-bottom: 36px;

            .radio-button {
                margin-right: 8%;
            }
        }

        .toggle-button {
            float: left;
            width: 100%;
            text-align: right;

        }

        .cancel {
            width: 70px;
            height: 32px;
            margin-right: 2%;
            color: #fff;
            background: rgba(0, 0, 0, 0.35);
            border-radius: 3px;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
                color: #000;
            }

        }

        .send {
            width: 70px;
            height: 32px;
            color: #fff;
            background: #F56C23;
            border-radius: 3px;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
                color: #000;
            }

        }

    }

    @extend %clearfix;
}
