.login-main {
    text-align: center;

    .login-title {
        text-align: center;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 35px;
    }

    .login-form {
        width: 100%;
    }

    h2 {
        margin-top: 12px;
        margin-bottom: 16px;
    }

    form {
        display: inline-block;
        width: 30%;
        background: #EFE9E7;
        box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
        border-top: 3px solid #FF5E45;

        @include tablet() {
            width: 50%;
        }

        @include mobile() {
            width: 90%;
        }

    }

    .lb {
        float: left;
        text-align: left;
        width: 94.5%;
        margin-left: 5.5%;
    }

    .email {
        float: left;
        width: 100%;
        margin-bottom: 15px;
        height: 32px;
        padding-left: 30px;

        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-shadow: inset 0px 1px 0px 0px #ECECEC;
        border-radius: 3px;

        &:focus {
            @include focus;
        }
    }

    .password {
        float: left;
        width: 100%;
        height: 32px;
        padding-left: 30px;

        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-shadow: inset 0px 1px 0px 0px #ECECEC;
        border-radius: 3px;

        &:focus {
            @include focus;
        }
    }

    .fas {
        position: absolute;
        top: 0%;
        left: 5%;
    }

    a {
        @include a-init;
        float: left;
        color: #FF5E45;
        font-size: $font-size-xs;
        width: 94.5%;
        text-align: left;
        margin-left: 5.5%;
        margin-top: 1px;

    }

    .inupt-button {
        float: left;
        width: 100%;
        margin-top: 36px;
        margin-bottom: 15px;

        .register-btn {
            @include btn-init;
            float: left;
            width: 40%;
            height: 32px;
            margin-left: 6%;
            background: rgba(0, 0, 0, 0.35);
            font-size: 14px;
            color: #FFFFFF;
        }

        .login-but {
            @include btn-init;
            float: left;
            width: 40%;
            height: 32px;
            margin-left: 7%;
            margin-right: 6%;
            background: #F56C23;
            font-size: 14px;
            color: #FFFFFF;
        }
    }

    .input-box {
        position: relative;
        float: left;
        width: 89%;
        margin-right: 5.5%;
        margin-left: 5.5%;

        .fas {
            position: absolute;
            left: 10px;
            top: 7px;
        }
    }

    @extend %clearfix;
}
